
#square {
    width: 200px;
    height: 250px;
	border-radius: 8px;
    background: #dbd5db;
	margin: auto;
}

h1 {
    color: rgb(19, 177, 224);
    text-align: center;
    font: bold italic 20px Verdana;
}

.pink {
    color:rgb(218, 89, 200)
}

input[id="number1"] { 
	background: #c9e6e4; 
	text-align: center;
	margin: auto;
	display: block;
}

#btns {
    text-align: center;
}

.btns button {
	width: 40px;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 8px;
	background-color: rgb(0, 204, 255);
	color: black;
	cursor: pointer;
}

input[id="number2"] { 
	background: #e9cfe2; 
	text-align: center;
	margin: auto;
	display: block;
}

#Calculate {
	width: 80px;
	height: 30px;
	border: none;
	border-radius: 18px;
	background-color: rgb(0, 204, 255);
	color: black;
	cursor: pointer;
    text-align: center;
	margin: auto;
	display: block;
}


p {
    font: bold italic 25px Verdana;
    color: rgb(6, 192, 238);
    text-align: center;
}

